{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Исходный вариант -->
        <img src="/media/{{ object.image }}" />
        <!-- Итоговый вариант -->
        <img src="{% mediapath object.image %}" />
    </div>
    {% endblock %}
